# Enable rewrite engine and route requests to framework
# Block Access to Any Files Besides Index.php & Images
RewriteEngine on
RewriteRule ^(images) - [L]
RewriteCond $1 !^(index\.php)
RewriteRule ^(.*)$ /index.php/$1 [L]

# Disable ETags
<IfModule mod_headers.c>
	Header Unset ETag
	FileETag none
</IfModule>

# Default expires header if none specified (stay in browser cache for 7 days)
<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresDefault A604800
</IfModule>

# Enable Session Auto-Start
<IfModule mod_php5.c>
  php_flag session.auto_start on
</IfModule>
