[globals]

; Database Host
dbhost=localhost
dbname=db_name
dbuser=db_user
dbpass=db_pass

; Database Table Prefix
dbprefix=pg_

; URL Path From Root
rootpath=http://gallery.com

; Login Length (Seconds)
logintime = 3600

; Image Location (URL)
fullmediapath=/images

; Image Location (Relative to index.php)
mediauploadpath=images/

; POST Uploads To Another Server
postupload=false
posturl=http://another.server.com/
postsecret=abcde
postdir=gallery/

; Access Level Labels
access.2=Upload Only
access.5=Upload & Arrange
access.8=Administrator

; Misc
sitetitle=Poof Gallery

; Thumbnail Width, Height
thumbsize=260,180

; Width of Landscape Image, Height of Portrait Image
screensize=900,620

; Show Total Album and Photo Count in Footer
showtotals=true
