<check if="{{@GET.format != 'core'}}">
  <script src="{{@rootpath}}/static/js/core"></script>
  <check if="{{@upload}}"><script src="{{@rootpath}}/static/js/upload"></script></check>

  <check if="{{@userAccessLevel}}">
    <div class=row>
      <div class=span12 style='text-align:center;'>
        <a href='{{@rootpath}}/help' target='_blank'>PoofGallery Help</a>
      </div>
    </div>
  </check>

  <check if="{{@itemcount}}">
    <div class=row>
      <div class=span12 style='text-align:center;'>
        {{@itemcount}}
      </div>
    </div>
  </check>

  </div>
  </div>
  </body>
  </html>
</check>
