<div class="modal modal-gallery hide fade img-rounded" tabindex="-1">
    <div class=cell>
        <div class='overlay top'>
            <a class="action cl" href=''>&times;</a>
        </div>
        <img>
        <div class='overlay bottom'>
            <a class='action dl' target=_blank href=''>Download</a>
        </div>
    </div>
    <div class='overlay center'>
        <a class="carousel-control left" href="#">‹</a>
        <a class="right carousel-control" href="#">›</a>
    </div>
</div>