<div class="modal hide fade" id="login">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Login</h3>
  </div>
  <div class="modal-body">
    <div class="alert alert-error hide" id='badinfo'><strong>Error!</strong> Incorrect Username or Password</div>
    <form id=loginform class="form-horizontal">
      <fieldset>
        <div class="control-group">
          <label class="control-label" for="input01">Username</label>
          <div class="controls">
            <input type="text" id='username' class="input-xlarge">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="input01">Password</label>
          <div class="controls">
            <input type="password" id='password' class="input-xlarge">
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary" id='login'>Login</a>
  </div>
</div>