<div class="modal hide fade" id="rename">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Rename Album</h3>
  </div>
  <div class="modal-body">
    <div class="alert alert-error hide" id='badinfo'><strong>Error!</strong> An Unknown Error Occured</div>
    <form id=editalbumform class="form-horizontal">
      <fieldset>
        <div class="control-group">
          <label class="control-label" for="input01">Album Name</label>
          <div class="controls">
            <input type="text" id='name' value='{{@pagetitle}}' class="input-xlarge">
            <input type="hidden" id='album' value='{{@PARAMS.album}}'>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-warning" id='submit'>Rename and Reset</a>
    <a href="#" class="btn btn-primary" id='submitsave'>Rename and Save Organization</a>
  </div>
</div>